@charset "UTF-8";
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #AEFD6C;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #333;
}

.container {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 1, 0.5);
    background-color: white;
    text-align: center;
}

h1 {
	text-align: center;
    font-weight: bold;
    color: #007BFF;
}

label {
	display: block;
	margin: 10px 0;
	color: #555;
}

input{
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
}

p {
    margin: 20px 0;
    line-height: 1.6;
}

.emoji {
    font-size: 24px;
    margin-right: 5px;
}


.links a {
    margin: 0 10px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    transition: color 0.3s ease;
}

.links a:hover {
    color: #0056b3;
    font-size: 20px;
    text-transform: uppercase;
}

button{
	width: 100%;
	padding: 12px;
	cursor: pointer;
	background-color: #007BFF;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	transition: background-color 0.3s ease, transform 0.3 ease;
}

button:hover {
	background-color: #0056b3;
	transform: scale(1.05);
}