@charset "UTF-8";
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #AEFD6C;
    background-image: url('background.jpg');
    background-size: cover; /* or 'contain' based on your preference */
    background-position: center center;
    background-repeat: no-repeat;
}

.container {
	width: 80%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 1, 0.5);
    background-color: white;
    text-align: center; /* Center the content */
}

h1{
	font-weight: bold;
    text-align: center;
    color: #333;
}

p{
	margin: 20px 0;
	line-heigt: 1.6;
}

a{
	text-decoration:none;
	color: #007BFF;
	font-weight: bold;
}

a:hover {
	color: #0056b3;
	font-size: 20px;
	text-transform: uppercase;
}
